[user]
	name = Pierre GOUDJO
	email = 1331326+pierregoudjo@users.noreply.github.com
[fetch]
	prune = true
;
[init]
	defaultBranch = main
[credential]
	helper = 
	helper = /usr/local/share/gcm-core/git-credential-manager
[credential "https://dev.azure.com"]
	useHttpPath = true

[diff]
	external = difft
	tool   = difftastic
[difftool]
	prompt = false

[difftool "difftastic"]
	cmd = difft "$MERGED" "$LOCAL" "abcdef1" "100644" "$REMOTE" "abcdef2" "100644"
